{% extends 'basic.html' %}
{% load static %}

{% block title %}
contactpage
{% endblock title %}


{% block body %}

<div class="container mt-3">

<form  action="/contact" method="post">{% csrf_token %}
<h3><span class="badge badge-success mb-2">Contact Blog Admin </span></h3>

<input type="text" id="name" name="name" class="form-control" placeholder="Enter Your Name" required>

<input type="email" id="email" name="email" class="form-control mt-2" placeholder="Enter Your Email" required>

<input type="number" id="num" name="num" class="form-control mt-2" placeholder="Enter Your Mobile Number" required>

<textarea class="form-control mt-2" id="desc" name="desc" placeholder="How can i help you?" rows="3" required></textarea>
<br>
<button class="btn btn-primary btn-sm btn-block" type="submit">Submit </button>


</form>

</div>
{% endblock body %}